@page "/index"

<PageTitle>Index</PageTitle>

<h1>Welcome Back test</h1>
<div>
    <div class="card w-25" style="float:left; position:relative; margin-left:5%">
        <div class="card-body">
            <h2 class="card-title text-center">My Meetings</h2>
            <dl>
                <hr>
                @foreach (meeting meetings in database.GetMeetings())
                {
                    <dt>
                        <td>@meetings.time</td>
                        <td>@meetings.company</td>
                        <td>@meetings.clientName</td>
                    </dt>
                    <br>
                }
            </dl>
        </div>
    </div>

    <div class="card w-25" style="float:left; position:relative; margin-left:5%">
        <div class="card-body">
            <h2 class="card-title text-center">My Tasks</h2>
            <dl>
                <hr>
                @foreach (task task in database.GetTasks())
                {
                    <dt>@task.name</dt>
                    <br>
                }
            </dl>
        </div>
    </div>
</div>

