@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome Back User</h1>
<div>
    <div class="card w-25" style="float:left; position:relative; margin-left:5%">
        <div class="card-body">
            <h2 class="card-title text-center">My Meetings</h2>
            <dl>
                <hr>
                <dt class="text-center">9:00 AM: Ma and Pa Ice Cream</dt>
                <br>
                <dt class="text-center">10:30 AM: Jerry's Pastries</dt>
                <br>
                <dt class="text-center">12:00 PM: Scalaras University</dt>
                <br>
                <dt class="text-center">1:00 PM: Ben and Ben Construction</dt>
                <br>
                <dt class="text-center">2:30 AM: Beth and Co Beauty</dt>
            </dl>
        </div>
    </div>

    <div class="card w-25" style="float:left; position:relative; margin-left:5%">
        <div class="card-body">
            <h2 class="card-title text-center">My Tasks</h2>
            <dl>
                <hr>
                <dt class="text-center">Weekly Sales Report</dt>
                <br>
                <dt class="text-center">Sales Presentation</dt>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </dl>
        </div>
    </div>
</div>

