*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-----HOME------*/
.header{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.home{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 60px;
}
h1{
    font-size: 28px;
    font-weight: 600;
}

/*-----LOGIN------*/
.sub-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.login-box{
    background: #fff;
    padding: 50px 100px 80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 420px;
    font-size: 14px;
    border-radius: 15px;
}
.login-text{
    padding: 5px 5px 30px 5px
}
.login{
    width: 100%;
}
.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
input[type="text"].form-control, input[type="password"].form-control{
    font-size: 16px;
    outline: none;
    width: calc(100% - 36px);
    border: 2px solid #CCC;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3s ease;
}
input[type="text"].form-control:hover, input[type="password"].form-control:hover{
    border: 2px solid #9cc3ff;
}
input[type="text"].form-control:focus, input[type="password"].form-control:focus{
    border: 2px solid #4891ff;
}
input[type="text"].form-control:active, input[type="password"].form-control:active{
    border: 2px solid #4891ff;
}
button{
    outline: none;
    background: #1e5cb8;
    color: #FFF;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    box-shadow: 5px 5px 5px #a8a8a8;
    background: #104ba5;
}