@inherits LayoutComponentBase

@page "/Admin"

<PageTitle>Admin</PageTitle>

<main>
    <div class="content">
        <div class="header">
            <h1>Manage Users</h1>
        </div>
        <div class="table-responsive-sm tablealign" style="margin:auto; position:absolute; top: 85px;">
            <div>
                <br />
                <div class="new-user mx-auto">
                    <div class="new-user-text">New User</div>
                </div>
                <br />
                <br />
                <br />
                <form class="form-inline">
                    <div class="form-group col-md-6" style="float:right">
                        <input type="search" id="query" name="q" asp-for="searchTerm" placeholder="Search...">
                    </div>
                </form>
            </div>
            <table class="table table-sm table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (account acc in database.GetAccounts())
                {
                    <tr>
                        <td>@acc.id</td>
                        <td>@acc.username</td>
                        <td>@acc.password</td>
                        <td>
                            <div class="edit-user mx-auto">
                                <div class="edit-user-text">Edit User</div>
                            </div>
                        </td>
                        <td>
                            <div class="delete-user mx-auto">
                                <div class="delete-user-text">Delete User</div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</main>