@inherits LayoutComponentBase

@page "/products/business-to-business"

<PageTitle>Business to Business</PageTitle>

<main>
    <div class="header">
        <h1>Business to Business</h1>
    </div>
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search...">
    </form>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Pricing</th>
            <th>Date Created</th>
        </tr>
        <tr>
            <td>A</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>B</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>D</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>E</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>F</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</main>