@inherits LayoutComponentBase

@page "/products/business-to-business"

<PageTitle>Business to Business</PageTitle>

<main>
    <div class="header">
        <h1>Business to Business</h1>
    </div>
</main>