@inherits LayoutComponentBase

@page "/login"

<div class="col-12">
    <RadzenCard class="p-5 w-100">
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" class="mb-4">
            Login
        </RadzenText>
        <RadzenTemplateForm Data=@("SimpleLogin") Action="/">
            <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
        </RadzenTemplateForm>
    </RadzenCard>
</div>

<br/>
<p>@msg</p>
@code {
    string userName = "admin";
    string password = "password";
    string msg;

    void OnLogin(LoginArgs args, string name)
    {
        msg = name + " Username:" + args.Username + " password:" + args.Password;
    }
}