@inherits LayoutComponentBase

@page "/login"

<div class="col-12">
    <RadzenCard class="p-5 w-100">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" class="mb-4">
                    Login
                </RadzenText>
        <RadzenTemplateForm Data=@("SimpleLogin") Action="https://localhost:7204/">
                    <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
                </RadzenTemplateForm>
    </RadzenCard>
</div>

<EventConsole @ref=@console class="mt-4" />

@code {
    string userName = "admin";
    string password = "password";
    bool rememberMe = true;

    EventConsole console;

    void OnLogin(LoginArgs args, string name)
    {
        console.Log($"{name} -> Username: {args.Username}, password: {args.Password}, remember me: {args.RememberMe}");
    }

    void OnRegister(string name)
    {
        console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        console.Log($"{name} -> ResetPassword for user: {value}");
    }
}