@inherits LayoutComponentBase

@page "/notes"

<PageTitle>Notes</PageTitle>

<main>
    <div class="header">
        <h1>My Notes</h1>
    </div>
    <div class="new-note mx-auto">
            <div class="new-note-text">New Note</div>
    </div>
    <div class="delete-note mx-auto">
            <div class="delete-note-text">Delete Note</div>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date Modified</th>
        </tr>
        <tr>
            <td>A</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>B</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>C</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>D</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>E</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>F</td>
            <td></td>
            <td></td>
        </tr>
    </table>
 </main>
