.all-products {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/allproducts.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 20%;
    left: 2.9%;
    align-items: center;
}

.all-products-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.restaurants {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/restaurants.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 20%;
    left: 27%;
    align-items: center;
}

.restaurants-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.retail {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/retail.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 20%;
    right: 27%;
    align-items: center;
}

.retail-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.professional {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/professional.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 20%;
    right: 2.9%;
    align-items: center;
}

.professional-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.personal {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/personal.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 13%;
    left: 2.9%;
    align-items: center;
}

.personal-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.construction {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/construction.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 13%;
    left: 27%;
    align-items: center;
}

.construction-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.business-to-business {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/business.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 13%;
    right: 27%;
    align-items: center;
}

.business-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.other {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 31.5%;
    display: flex;
    width: 22%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/other.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 13%;
    right: 2.9%;
    align-items: center;
}

.other-text {
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.all-products:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.restaurants:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.retail:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.professional:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.personal:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.construction:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.business-to-business:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.other:hover {
    opacity: 80%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
