@inherits LayoutComponentBase

@page "/products"

<PageTitle>Products</PageTitle>

<main>
    <NavLink class="nav-link" href="products/all-products">
        <div class="all-products mx-auto">
            <div class="all-products-text">All Products</div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="products/restaurants">
        <div class="restaurants mx-auto">
            <div class="restaurants-text">Restaurants & Quick-Serve Restaurants</div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="products/retail">
        <div class="retail mx-auto">
            <div class="retail-text">Retail</div>
        </div>
        </NavLink>
    <NavLink class="nav-link" href="products/professional-services">
        <div class="professional mx-auto">
            <div class="professional-text">Professional Services</div>
        </div>
        </NavLink>
    <NavLink class="nav-link" href="products/personal-services">
        <div class="personal mx-auto">
            <div class="personal-text">Personal Services</div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="products/construction">
        <div class="construction mx-auto">
            <div class="construction-text">Construction</div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="products/business-to-business">
        <div class="business-to-business mx-auto">
            <div class="business-text">Business to Business</div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="products/other">
        <div class="other mx-auto">
            <div class="other-text">Other</div>
        </div>
    </NavLink>
</main>