@inherits LayoutComponentBase

@page "/products/professional-services"

<PageTitle>Professional Services</PageTitle>

<main>
    <div class="header">
        <h1>Professional Services</h1>
    </div>
</main>