@inherits LayoutComponentBase

@page "/products/restaurants"

<PageTitle>Restaurants</PageTitle>

<main>
    <div class="header">
        <h1>Restaurants & Quick-Serve Restaurants</h1>
    </div>
</main>